/***********************/
/* HEADER */
/***********************/

/* MOBILE NAVIGATION*/
.btn-mobile-nav {
  border: none;
  background-color: #fdf2e9;
  cursor: pointer;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.icon-mobile-nav {
  border: none;
  border-radius: 9px;
  height: 4.8rem;
  width: 4.8rem;
  cursor: pointer;
  color: #333;
}

/* Note:根据属性选择标签 */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.logo {
  height: 2.2rem;
  /* display: inline-block; */
}

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

/***********************/
/* NAVIGATION */
/***********************/

.main-nav {
  padding: 1.2rem 2.4rem;
  background-color: #fdf2e9;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

/*导航字体比段落字体小一些*/
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: none;
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/***********************/
/* HERO SECTION  */
/***********************/

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  padding: 0 3.2rem;
  gap: 9.6rem;
}

/*背景使用比主色更浅的颜色，因为主色要吸引人的注意力起强调作用，浅色覆盖的面更大，不宜喧宾夺主*/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

/*占据父元素hero-img-box的宽度*/
.hero-img {
  width: 100%;
}

/*标题和描述都是文本，btn属于另外一个部分，所以设置更大的间距*/
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-meals {
  margin-top: 8rem;
  display: flex;
  /* flex-direction: column; */
  gap: 1.6rem;
  align-items: center;
}

/* 头像设置border-radius可以使其成圆形，更像一个头像 */
.delivered-meals img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-meals img:last-child {
  margin-right: 0;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/***********************/
/* HOW IT WORKS SECTION */
/***********************/

.section-how {
  padding: 9.6rem 0rem;
  /* background-color: #fff; */
}

.section-how div {
  /* padding: 100px; */
  font-size: 50px;
  /* background-color: #fff; */
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.section-how-title {
  margin-bottom: 10rem;
}

/*字体很大，可以不需要700的weight已经能够引起注意*/
.step-number {
  margin-bottom: 1.2rem;
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
}

.step-text-box {
  margin-bottom: 1rem;
}

.step-description {
  line-height: 1.8;
  font-size: 1.8rem;
}

.step-img-box {
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* 不想因为视觉效果影响html结构
   没有content的伪元素不会显示
   默认为inline，因此width，height无效 */
/* absolute会使元素变为block级别 */
/* 注意到height怎样content都会为0，那么只好增加     padding */
/* padding-bottom的基准是父元素宽度 */
.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  /* height: 60%; */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.step-img-box::after {
  content: "";
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;

  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  border-radius: 50%;
}

.step-img {
  width: 35%;
  margin: 0 auto;
  display: block;
}

/***********************/
/*  */
/***********************/

.logos {
  display: flex;
  justify-content: space-around;
}

/* 字体非常小的标题全使用大写
   大标题缩小字母间间距
   小标题增大字母间间距
*/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;

  margin-bottom: 2.4rem;
  text-align: center;
  color: #888;
}

/* 为了防止img打乱图像设计风格，把他们全部变灰 
   filter*/
.logos img {
  height: 3.2rem;
  width: auto;
  filter: brightness(0);
  opacity: 50%;
}

/***********************/
/* MEALS SECTION */
/***********************/

.section-meals {
  padding: 9.6rem 0;
}

/* 通过加阴影的方式使得图片不超出边界 */
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* padding: 0 0 9.6rem 0; */
  border-radius: 11px;
  overflow: hidden;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transition: all 0.4s;
}

.meal-img {
  width: 100%;
  height: auto;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  /* font-size: 1.8rem;
  /* text-align: right; */

  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  font-weight: 600;

  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 10rem;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--paleo {
  background-color: #ffd43b;
}

.tag--vegan {
  background-color: #94d82d;
}
.meal-title {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  font-weight: 600;
  color: #333;
}

/* 把list-style写在这里，防止所有的ul的list-style都成为none */
/* li是使用icon的一种很好的场景*/
.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}

.link:visited,
.link:link {
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  transition: all 0.3s;
}

/* 单纯设置border-bottom:none会打乱页面布局 */
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
  /* font-size: 2rem; */
}

/***********************/
/* TESTMONIALS SECTION */
/***********************/

/* grid-template-columns也可以采用百分比进行配比，但是fr通常来说更好，因为fr考虑父容器宽度的同时，也考虑gap，即父容器宽度-gap再进行宽度配比，而百分比布局只考虑父容器宽度，不考虑gap，所以布局常常会超出grid的范围 */

.section-testimonial {
  background-color: #fdf2e9;

  display: grid;
  grid-template-columns: 55fr 45fr;
}

.testimonials {
  row-gap: 4.8rem;
  display: grid;
  column-gap: 8rem;
}

.testimonials-container {
  padding: 9.6rem 9.6rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;

  color: #6f6f6f;
}

.testimonials-title {
  grid-column: 1/3;
}

/*img自然状态下是*/
.gallery-img {
  width: 100%;

  display: block;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
  border-radius: 11px;

  /* transition: all 0.4s; */
}

.gallery-item {
  overflow: hidden;
}

.Gallery {
  display: grid;
  gap: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem;
  align-items: center;
}

/***********************/
/* PRICING SECTION */
/***********************/

.section-pricing {
  padding: 9.6rem 0;
}
/* text-align元素可以继承，应用于block容器 (ref:mdn)于是plan-header下所有的p都继承了text-align*/
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-price {
  font-size: 6.2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.plan-name {
  font-size: 2rem;
  color: #cf711f;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 3.2rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-sign-up {
  text-align: center;
  position: absolute;
  bottom: 4.8rem;
  right: 50%;
  transform: translate(50%, 0);
}

.pricing-plan {
  position: relative;

  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
  height: 60rem;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
}

.pricing-plan--compelete {
  background-color: #fdf2e9;
  padding: 5rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--compelete::after {
  content: "Best Value";
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  position: absolute;

  top: 4.7%;
  right: -7.9%;
  transform: rotate(45deg);
  background-color: #ffd43b;
  padding: 0.8rem 3.2rem;
  color: #333;
}

/***********************/
/* Feature  */
/***********************/

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
  display: block;
  margin-bottom: 3.2rem;
  padding: 1.6rem 1.6rem;
  background-color: #fdf2e9;

  border-radius: 50%;
}
.feature-title {
  font-weight: 700;
  font-size: 2.4rem;
  color: #333;
  margin: 0 auto 1.6rem auto;
}
.feature-text {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.6;
}

.plan-details {
  font-size: 1.6rem;
  text-align: center;
}

/***********************/
/* CTA SECTION  */
/***********************/

.section-cta {
  padding: 9.6rem 0;
  /* top horizontal bottom */
  padding: 9.6rem 0 12.8rem;
}

/* 渐变效果 */
/* 子容器的大小占据父容器content的大小，padding大小不占用 */
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* temp */

  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta h2 {
  /* color: #45260a; */
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1, 8;
  margin-bottom: 4.8rem;
}
/* 导入图片auto适应，background size*/
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../content/img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

/* inline-block */
/* 设置字体继承父元素的字体 */
.cta-form input,
.cta-form select {
  width: 100%;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: inherit;
}

/* 为元素是那些我们可以选择和渲染，但是在html上却不存在的“元素” */
.cta-form input::placeholder {
  color: #aaa;
}

.btn-form {
  background-color: #fdf2e9;
  color: #45260a !important;
  align-self: end;
  padding: 1.2rem !important;
}

.btn-form:hover {
  background-color: #45260a !important;
  color: #fdf2e9 !important;
}

.cta *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(252, 242, 233, 0.5);
}

/***********************/
/* FOOTER */
/***********************/

/* 当页脚有一部分的文字很多，使得页面有溢出感觉时 */
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr repeat(3, 1fr);
}

.footer {
  /* top right bottom left */
  padding: 12.8rem 0;

  border-top: 1px solid #eee;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-nav {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-nav a:link,
.footer-nav a:visited {
  text-decoration: none;
  color: #767676;
}

.footer-nav a:hover,
.footer-nav a:active {
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.social-link {
  display: inline-block;
  font-size: 2.4rem;

  color: #767676;
}

.contacts {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}
.contacts a {
  text-decoration: none;
  color: #767676;
}

.contacts p:nth-child(2) {
  margin-top: auto;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 3.2rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

/* margin-top设置为auto那么将把gird以下所有的空间往上推 */
.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}
